body{
   
    font-family: Arial, sans-serif;
    background-color: black;
    color: rgb(236, 227, 227);
    font-size: 12px; 
    
   
}
.contents {
    padding: 10px;
    font-size: 12px;
    

}
header {
    text-align: center;
    background-color: #01142f;
    padding: 10px;
    font-size: 10px;
    border-radius: 20px;
    border: solid;
    border-color: rgb(32, 32, 33);
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar {
   height: auto;
   width: auto;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1px;
    margin-right: 20px;
    position: absolute;
    
}
.nav-bar a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.2s;
}
.nav-bar a:hover{
    background:rgb(40, 225, 11);
    border-radius: 20px;
    transition: 0s;
}
.fa{
    color:rgb(241, 220, 29);
    font-size: 14px;
    
}
p{
    font-size: 12px;
}
section h1{
    font-size: 13px;
}
hr{

    border: solid;
    border-color: rgb(32, 32, 33);
    border-radius: 20px;

}
.card {
    background: rgb(14, 230, 230);
    color: black;
    padding: 10px;
    margin: 15px 0;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.card:hover {
    background: #09cc06;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.arrow {
    font-size: 16px;
    transition: transform 0.3s;
}

.content {
    display: none;
    margin-top: 15px;
    font-size: 14px;
}
#home{

    cursor: pointer;
}
#service img{
    position: flex;
    border-radius: 40px;
    border-color: black;
    border: solid;
}


#about img {
    border: solid;
    border-color: rgb(32, 32, 33);
   border-radius: 143px;
    margin-left: 90px;
}
#about a {
    color:azure;
    margin-left: 110px;

}
#about a:hover {
    background: #16184d;
    border-radius: 40px;
    padding: 3px;

   
}
button{
    background: rgb(220, 227, 231);
    border-radius: 10px;
    padding: 8px;
    margin-left: 2px;
    cursor: grab;
}
button:hover{
    background: rgb(226, 43, 223);
    
}
#contact a {
    color: white;
}

form {
    background:rgb(0, 0, 0);
    margin-left: 10px;
    border: solid;
    border-color: rgb(32, 32, 33);
    padding: 20px;
    border-radius: 10px;
}
form {
    font-size: 14px;
}
form input, textarea {
    background: rgb(246, 247, 249);
    padding: 3px;
    border: solid;
    border-color: rgb(234, 237, 237);
    border-radius: 8px;
}
#message button {
    background: rgb(229, 235, 230);
    border-radius: 8px;
    padding: 10px;
    margin-left: 70px;
    cursor: pointer;
    font-style: bolder;
    size: 5px;
}
.download-btn {
  display: inline-block;
  background-color: #37d90f;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 15px;
}

.download-btn:hover {
  background-color: #e008ae;
}
#about a {
    font-size: 16px;
    font-weight: bolder;
    background: #e008ae;
    color: transparent;
    background-clip: text;
    animation: animate 20s linear infinite;
    color:aqua;

}
#contact {
    background: rgb(31, 2, 2);;
    padding: 15px;
    border-radius: 20px;
}
.fa-brands {
    font-size: 16px;
    margin-right: 5px;
}
#contact a {
    color:dodgerblue
}




